{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main class="max-w-screen-sm mx-auto">
		{% include "./partials/_hero.html.twig" %}
		{% include "./partials/_about.html.twig" %}
		{% include "./partials/_projects.html.twig" %}
		{% include "./partials/_contact.html.twig" %}
	</main>

{% endblock %}
