<footer aria-label="footer">
	<nav class="max-w-screen-md font-eudoxus mx-auto flex justify-between max-md:px-4 my-5 max-lg:flex-col-reverse max-lg:items-center gap-2">
		<p>© Copyright 2024 Yoan Ménard</p>
		<ul class="flex max-md:flex-col items-center max-md:gap-2 gap-6">
			<li>
				<a aria-label="Lien vers la page politique de confidentialité" class="hover:text-white transition-colors duration-150" href="{{ url("app_confidentiality") }}">politique de confidentialité</a>
			</li>
		</ul>
	</nav>
</footer>
