<nav aria-label="menu" class="max-w-screen-md mx-auto flex justify-between max-md:px-4 mt-3 font-eudoxus">
	<a class="hover:text-white transition-colors duration-150 font-semibold" href="{{ url('app_home') }}" class="max-sm:hidden font-semibold" aria-label="Retourner à l'accueil">
		Yoan Ménard
	</a>
	<ul aria-label="liste des liens" class="flex gap-6 max-sm:mx-auto">
		<a class="hover:text-white transition-colors duration-150" href="/#propos" aria-label="Lien vers à propos">
			à propos
		</a>
		<a class="hover:text-white transition-colors duration-150" href="/#projets" aria-label="Lien vers mes projets">
			projets
		</a>
		<a class="hover:text-white transition-colors duration-150" href="/#contact" aria-label="Lien vers formulaire de contact">
			contact
		</a>
	</ul>
</nav>
