<nav aria-label="menu" class="max-w-screen-md mx-auto flex justify-between max-md:px-4 mt-3 font-eudoxus">
	<a class="hover:text-white transition-colors duration-150 font-semibold max-sm:hidden" href="{{ url('app_home') }}" aria-label="Retourner à l'accueil">
		Yoan Ménard
	</a>
	<ul aria-label="liste des liens" class="flex gap-6 max-sm:mx-auto list-none">
		<a class="hover:text-white transition-colors duration-150" href="{{ url('app_home') }}#propos" data-turbo="false" aria-label="Lien vers à propos">
			à propos
		</a>
		<a class="hover:text-white transition-colors duration-150" href="{{ url('app_home') }}#projets" data-turbo="false" aria-label=" lien vers mes projets">
			projets
		</a>
		<a class="hover:text-white transition-colors duration-150" href="{{ url('app_home') }}#contact" data-turbo="false" aria-label="Lien vers formulaire de contact">
			contact
		</a>
	</ul>
</nav>
