{% extends 'admin/base.html.twig' %}

{% block title %}Yoan Ménard - projets
{% endblock %}

{% block pageTitle %}
	Création d'un projet
{% endblock %}
{% block actionsBtn %}
	<twig:Button:PrimaryButton id="saveBtn" label="créer le projet"/>
{% endblock %}

{% block main %}
	<div {{ react_component("Project/ProjectForm", { csrf_token : csrf_token('create_project')} ) }}></div>
{% endblock %}
