{% extends 'admin/base.html.twig' %}

{% block title %}Yoan Ménard - modification d'un projet
{% endblock %}

{% block pageTitle %}
	Modification du projet
	{{ project.name }}
{% endblock %}
{% block actionsBtn %}
	<twig:Button:PrimaryButton id="saveBtn" label="modifier le projet"/>
{% endblock %}

{% block main %}
	<div {{ react_component("Project/ProjectForm", { update: true, csrf_token : csrf_token('update_project'), project : project} ) }}></div>
{% endblock %}
