{% extends 'base.html.twig' %}

{% block title %}Yoan Ménard - Politique de confidentialité
{% endblock %}
{% block body %}
	<main class="max-w-screen-sm mx-auto min-h-screen text-text font-eudoxus">
		<section class="max-md:p-2 my-8 lg:pt-32 pt-20 mb-20">
			<article class="mb-10">
				<header class="mb-4">
					<h1 class="text-2xl font-semibold text-white">Politique de confidentialité</h1>
				</header>
			</article>
		</section>
		<section aria-label="section collecte de données personnelles" class="leading-8 mt-10 w-full">
			<h2 class="text-xl font-medium mb-2 mt-10 first:mt-0">Collecte de données personnelles</h2>
			<p>Je collecte vos données personnelles lorsque vous me contactez via le formulaire de contact. Les informations recueillies incluent votre nom et votre adresse e-mail.</p>
		</section>
		<section aria-label="section utilisation des données personnelles" class="leading-8 mt-10 w-full">
			<h2 class="text-xl font-medium mb-2 mt-10 first:mt-0 ">Utilisation des données personnelles</h2>
			<p>Les données personnelles collectées sont utilisées uniquement pour répondre à votre demande de contact. Aucune de ces données n'est partagée, sauf en cas d'obligation légale.</p>
		</section>
		<section aria-label="section protection des données personnelles" class="leading-8 mt-10 w-full">
			<h2 class="text-xl font-medium mb-2 mt-10 first:mt-0 ">Protection des données personnelles</h2>
			<p>Vos données personnelles ne sont pas stockées sur mon serveur, elles sont directement envoyées par e-mail.</p>
		</section>
	</main>

{% endblock %}
