@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eudoxus";
  src: url("./fonts/EudoxusSansGX.ttf");
  font-weight: 100 900;
  font-display: swap;
}

@layer components {
  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  ol {
    @apply list-decimal list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }

  pre {
    @apply bg-secondary  p-4 text-sm font-light overflow-x-scroll;
  }

  svg {
    @apply stroke-text fill-primary;
  }
}

blockquote::before {
  content: "“";
  font-size: 1.2rem;
}

blockquote::after {
  content: "”";
  font-size: 1.2rem;
}
