<button class="h-10 min-w-32  rounded-md button font-bold disabled:opacity-50 hover:bg-opacity-90 disabled:hover:bg-opacity-100 active:bg-opacity-80 bg-button text-secondary transition-all duration-150 ease-in-out " + {{ class ?? '' }}>
	{{ label }}
</button>
