<!DOCTYPE html>
<html lang="fr" class="scroll-smooth focus:scroll-auto">
	<head>
		<meta charset=" utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Yoan Ménard est un développeur web freelance. Explorez ses réalisations et contactez-le pour donner vie à vos idées sur internet.">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('icon.svg') }}"> {% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="bg-primary text-text">

		{% for message in app.flashes('message') %}
			<div {{ react_component("Notification", { message: message } ) }}></div>
		{% endfor %}

		{% include "/partials/_menu.html.twig" %}
		{% block body %}{% endblock %}
		{% include "./partials/_footer.html.twig" %}
	</body>
</html>
